.side-bar{
    margin-left: 20px;
}
.bgcolor{
    background-color: rgb(219, 236, 236);
}
.form-container{
    margin: 10px;
    border: 2px solid white;
    padding: 10px;
    background-color: white;
}